.event-item-container {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}

.event-item {
    width: 357.98;
    
}
.event-item-bottom-container {
    border: 1px solid gray;
    width: 357.98;
}