.event-item-container {
    display: flex;
    justify-content: flex-start;
    margin-right: 300px;
    width: 100;
    
}

.event-item-container:hover {
    box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
}

.event-item {
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}
.event-item-bottom-container {
    width: 357;
    inline-size: 365px;
    overflow-wrap: break-word;
    display: flex;
}

.event-item-bottom {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
}

.event-title {
    color: black;
    font-size: 18px;
}

.event-date {
    color: #F05537;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

.event-location {
    margin-top: 15px;
    color: #6F7287;
    font-size: 14px;
    font-weight: 300;
}

.event-ticket-price {
    margin-top: 15px;
    color: #6F7287;
    font-size: 14px;
    font-weight: 300;
}

.event-edit-delete {
    margin-top: 50px;
    display: flex;
    width: 100;
    margin-bottom: 20px;
}

.event-edit {
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.event-edit:hover {
    color: #6F7287;
    text-decoration: underline;
}

.event-delete {
    border: none;
    font-size: 14px;
    color: black;
    background: none;
    outline: none;
}

.event-delete:hover {
    color: #6F7287;
    cursor: pointer;
    text-decoration: underline;

}