* {
    padding: 0;
    margin: 0;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.home-bottom-half-container {
    background-color: #F5F5F5;

}

.home-covid-container {
    display: flex;
    justify-content: center;
    margin-right: 250px;
}

.home-covid-item {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    padding-right: 50px;
    margin-top: 25px;
    box-shadow: 2px 2px 5px lightgray, -2px -2px 5px lightgray;
}

.home-covid-top {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 650;
}

.home-covid-bottom {
    font-size: 14px;
    color: #39364F;
}

.home-location-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-right: 210px;
}

.home-location-item {
    display: flex;
    display: 1px solid gray;
    font-size: 30px;
    font-weight: bold;
    margin-right: 800px;
}

.home-popular-in {
    margin-right: 8px;
}

.home-sacramento {
    color: #3659E3;
}

.home-events {
    display: grid;
    grid-template-columns: repeat(3, 10fr);
    gap: 75px 0px;
}

.home-events:nth-child(3n+2) {
    margin-left: 300px;
}

.home-about-me {
    display: flex;
    justify-content: flex-end;
    background-color: #F4EDE4;
    padding-bottom: 25px;
    padding-top: 35px;
}



.linked-in {
    margin-right: 30px;
}

.github {
    margin-right: 30px;
}