// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
    color: #39364f;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    // flex-direction: column;
    font-size: 13px;
    -webkit-box-pack: center;
    justify-content: right;
    font-weight: 600;
    align-items: center;
    white-space: nowrap;
    height: 72px;
    padding: 0 12px;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: normal;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}