/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.website_name {
    font-family: sans-serif;
    color: #ff5f1f;
    text-decoration: none;
    margin-right: auto;
    font-size: 25px;
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.btn {
    color: #39364f;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    height: 72px;
    padding: 0 12px;
    background-color: transparent;
    letter-spacing: normal;
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}

.btn:hover {
    filter: contrast(50%);
}

.create {
    color: #3D64FF;
}

.category-links-container {
    display: flex;
    /* border: 1px solid red; */
    margin-left: 299px;
    margin-top: 50px;
}
.category-links {
    /* border: 1px solid gray; */
    display: flex;
}

.first-link {
    padding-right: 16px;
}

.other-link {
    padding: 0 16px;
}

.single-link {
    color: #6F7287;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.single-link:hover {
    color: black;
    text-decoration: underline;
}

/* .home-picture {
    width: 100%;
    height: 100%;
} */